@font-face {
    font-family: TokyoOneSolid;
    src: url(fonts/Tokyo-OneSolid.otf);

}
.tokyocustomfont { 
    font-family: TokyoOneSolid;
    font-size: 30px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-bottom: 15px;

}